<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Exchange</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatchServlet</display-name>
    <servlet-name>MatchServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.MatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchServlet</servlet-name>
    <url-pattern>/MatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllItemServlet</display-name>
    <servlet-name>FindAllItemServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.FindAllItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllItemServlet</servlet-name>
    <url-pattern>/FindAllItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindStateServlet</display-name>
    <servlet-name>FindStateServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.FindStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindStateServlet</servlet-name>
    <url-pattern>/FindStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductsServlet</display-name>
    <servlet-name>SearchProductsServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.SearchProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductsServlet</servlet-name>
    <url-pattern>/SearchProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmServlet</display-name>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/ConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoExcServlet</display-name>
    <servlet-name>DoExcServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.DoExcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoExcServlet</servlet-name>
    <url-pattern>/DoExcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeServlet</display-name>
    <servlet-name>TradeServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.TradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeServlet</servlet-name>
    <url-pattern>/TradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUserServlet</display-name>
    <servlet-name>ChangeUserServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.servlet.ChangeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserServlet</servlet-name>
    <url-pattern>/ChangeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ALoginServlet</display-name>
    <servlet-name>ALoginServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.service.ALoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALoginServlet</servlet-name>
    <url-pattern>/ALoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADetailServlet</display-name>
    <servlet-name>ADetailServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.service.ADetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADetailServlet</servlet-name>
    <url-pattern>/ADetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AHomeServlet</display-name>
    <servlet-name>AHomeServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.service.AHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AHomeServlet</servlet-name>
    <url-pattern>/AHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ARegisterServlet</display-name>
    <servlet-name>ARegisterServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.service.ARegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ARegisterServlet</servlet-name>
    <url-pattern>/ARegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ASearchProductsServlet</display-name>
    <servlet-name>ASearchProductsServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.service.ASearchProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ASearchProductsServlet</servlet-name>
    <url-pattern>/ASearchProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AOrderServlet</display-name>
    <servlet-name>AOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.service.AOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AOrderServlet</servlet-name>
    <url-pattern>/AOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUploadImgServlet</display-name>
    <servlet-name>AUploadImgServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.service.AUploadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUploadImgServlet</servlet-name>
    <url-pattern>/AUploadImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AFindStateServlet</display-name>
    <servlet-name>AFindStateServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.service.AFindStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AFindStateServlet</servlet-name>
    <url-pattern>/AFindStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>APostServlet</display-name>
    <servlet-name>APostServlet</servlet-name>
    <servlet-class>com.chinasofti.exchange.service.APostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>APostServlet</servlet-name>
    <url-pattern>/APostServlet</url-pattern>
  </servlet-mapping>
</web-app>